* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM Mono", monospace;
}

body {
  height: 100vh;
  font-family: system-ui, system-ui, sans-serif;
  line-height: 1.8;
}

.header-content {
  background-image: url("./images/profile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  color: white;
  gap: 20px;
}

.header-content h1 {
  font-size: 2.5rem;
}

.header-content p {
  font-size: 1.2rem;
  margin-top: 15px;
}

.header-content img {
  width: 200px;
}

/* showCase */

.show-case {
  display: flex;
}

.show-case .show-case-1 {
  background-color: #2e3440;
  color: #eceff4;
  padding: 30px 50px;
  width: 100%;
  position: relative;
}

.show-case .show-case-2 {
  background-color: #4c566a;
  color: #d8dee9;
  padding: 30px 50px;
  width: 100%;
}

ul {
  padding-left: 20px;
}

.profile p {
  max-width: 400px;
}

.head-left,
.head-right {
  letter-spacing: 4px;
}

.case {
  margin-top: 30px;
}

.case h2 {
  letter-spacing: 4px;
}

.head {
  height: 4px;
  width: 100px;
  background-color: red;
}

a {
  text-decoration: none;
  color: #eceff4;
}
a:hover {
  text-decoration: none;
  color: yellow;
}

.header-content div .img {
  border: 4px solid black;
}

th { color: lightskyblue; padding-top: 1rem;}
td:nth-child(even) { color: yellow; letter-spacing: 5px; }
td, th {
  text-align: left;
  width: 50%;
}

footer {
  text-align: center;
  background: black;
  color: white;
}

@media (max-width: 900px) {
  .header-content {
    text-align: center;
    flex-direction: column;
  }

  .show-case {
    display: block;
  }

  .header-content h1 {
    font-size: 2rem;
  }
}